name: Python checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        clang: ["18", "19", "20", "21"]

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: ${{ matrix.python }}
      - name: Setup Clang
        uses: egor-tensin/setup-clang@v1
        with:
          version: ${{ matrix.clang }}
          platform: x64
      - name: Install the project
        run: uv sync
      - name: Linting checks
        run: uv run ruff check .
      - name: Type checks
        run: uv run ty check .
      - name: Tests
        run: uv run pytest
